:root {
  --white: #fff;
  --black: #182339;
  --primary: #61ecbc;
}

html {
  font-size: 62.5%;
  font-family: "Outfit", sans-serif;
}

body {
  background-image: url('../public/bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  font-size: 2rem;
}

.container {
  max-width: 60rem;
  width: 95%;
  margin: 0 auto;
}

.title{
  font-size: 4rem;
  color: var(--white);
  line-height: 3rem;
  margin-top: 5rem;
}

.title span {
  display: block;
  font-weight: 900;
  font-size: 5rem;
  color: var(--primary);
}

.content {
  background-color: var(--white);
  margin-top: 5rem;
  padding: 6rem 2rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

/* .input-group {
  margin-top: 2rem;
} */

form {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.select {
  display: block;
  margin-top: 1rem;
  width: 100%;
  padding: 1rem;
  background-color: #d3d3d3;
  border: none;
  border-radius: 1rem;
}

.submit{
  padding: 1rem;
  margin-top: 2rem;
  width: 100%;
  border: none;
  border-radius: 1rem;
  background-color: var(--primary);
  font-weight: 900;
  text-transform: uppercase;
}

.submit:hover {
  cursor: pointer;
  background-color: #0cb387;
}

.error {
  padding: 1rem;
  background-color: red;
  margin-top: 1rem;
  color: var(--white);
  border-radius: 1rem;
  border: none;
}

.detail {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.titlequote{
  text-align: center;
}

.image {
  width: 20rem;
  height: auto;
}

.results p span {
  font-weight: 700;
}

.loader {
  width: 60px;
  aspect-ratio: 1;
  --_g: no-repeat radial-gradient(farthest-side,var(--primary) 90%,#0000);
  background: var(--_g), var(--_g), var(--_g);
  background-size: 25% 25%;
  animation: l17 1s infinite;
  margin: 0 auto;
}
@keyframes l17{ 
  0%     {background-position: 0% -100%,50% -100%,100% -100%}
  16.67% {background-position: 0%   50%,50% -100%,100% -100%}
  33.33% {background-position: 0%   50%,50%   50%,100% -100%}
  45%,55%{background-position: 0%   50%,50%   50%,100%   50%}
  66.67% {background-position: 0%  200%,50%   50%,100%   50%}
  83.33% {background-position: 0%  200%,50%  200%,100%   50%}
  100%   {background-position: 0%  200%,50%  200%,100%  200%}
}